<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <style type="text/css">
        a:link, a:visited {
            background-color: white;
            color: black;
            border: 2px solid green;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }

        a:hover, a:active {
            background-color: green;
            color: white;
        }
    </style>
</head>
<body>
    <h1 style="display:box;background: #141414;padding: 30px;color:#fff;/* background-color:#2E8ECE; */font-size: 5rem;text-align: center;">Probleme degree</h1>

    <input type="text" readonly="" value="The failure degree is Major" style="
  width: 70%;
  border: none;
  border-bottom: 2px solid red;
  font-size: 2.9rem;
  position: relative;
  left: 20px;
  ">
    <h3 style="
    font-size: 5rem;
    position: relative;
    left: 15px;
">
        solution
    </h3>
    <input type="text"  value="" style="
  width: 70%;
  border: none;
  border-bottom: 2px solid green;
  font-size: 2.9rem;
  position: relative;
  left: 20px;
  "><br>
    <a href="fini.html" style="
    width: 20%;
    font-size: 3rem;
    position: relative;
    top: 20px;
    left: 30px;
"> home</a>

</body>
</html>